<%= form_with(model: departamento, local: true) do |form| %>

  <nav class="navbar-dark bg-dark consorcios_menu">
    <%= link_to 'Volver', departamento.consorcio, class:'btn btn-secondary' %>
    <button type="submit" class="btn btn-secondary">Guardar</button>
  </nav>

  <div class="consorcios_form">
    <% if departamento.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% departamento.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4>Consorcio: <%= @departamento.consorcio.nombre %> - Unidad: <%= @departamento.identificador %></h4>

    <div class="form-group">
      <%= form.hidden_field :consorcio_id %>
    </div>
    <div class="form-group">
      <%= form.label :identificador %>
      <%= form.text_field :identificador, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= form.label :propietario %>
      <%= form.text_field :propietario, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= form.label :inquilino %>
      <%= form.text_field :inquilino, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= form.label :coeficiente %>
      <%= form.text_field :coeficiente, class: 'form-control'%>
    </div>

    <h4>Facturas</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Departamento</th>
          <th>Periodo</th>
          <th>Importe</th>
          <th>Estado</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% departamento.facturas.each do |factura| %>
          <tr>
            <td><%= factura.departamento.identificador %></td>
            <td><%= factura.fecha_periodo %></td>
            <td><%= factura.importe %></td>
            <td><%= factura.estado %></td>
            <td>
              <%= link_to 'Ver', factura , target: :_blank%>
              <%= link_to 'Eliminar', factura, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
