  <table class="factura">
    <tr>
      <td>
        <label>Suarez Negocios inmobiliarios</label>
        <label>25 de Mayo Nro 179 de 10 a 13 hs</label>
        <label>Tel 2494606266</label>
        <label>suareznegociosinmobiliarios@gmail.com</label>
      </td>
      <td class="right">
        <label><%= @consorcio.nombre %> </label>
        <label>ORIGINAL</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Periodo: <%= @factura.fecha_periodo %> </label>
        <label>Co-propietario: <%= @departamento.propietario%></label>
        <label>Unidad: <%= @departamento.identificador%></label>
      </td>
      <td class="right">
        <label>Lugar de pago: 25 de Mayo 179</label>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="splitter">
        <label>DETALLE</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Gastos ordinarios: <%= "$ #{@departamento.coeficiente} % (#{@gasto_ordinario_periodo}) " %> </label>
        <label>Gastos extraordinarios: <%= "$ #{@departamento.coeficiente} % (#{@gasto_extraordinario_periodo}) " %> </label>
        <label>Saldo Anterior: $ <%= @factura.saldo_anterior %></label>
        <label>Intereses: $ <%= @factura.intereses %></label>
        <label>1er Vencimiento: <%= Date.new(@factura.periodo.year, @factura.periodo.month, 10).to_s%> </label>
        <label>2do Vencimiento: <%= Date.new(@factura.periodo.year, @factura.periodo.month, 20).to_s %> </label>
      </td>
      <td class="right">
        <label id='gasto_ordinario_periodo_departamento'> $ <%= @gasto_ordinario_periodo_departamento %> </label>
        <label id='gasto_extraordinario_periodo_departamento'> $ <%= @gasto_extraordinario_periodo_departamento %> </label>
        <label id='saldo_anterior_subtotal'> $ <%= @factura.saldo_anterior %></label>
        <label id='intereses_subtotal'> $ <%= @factura.intereses %></label>
        <label id='total'> Tota a pagar: $ <%= @gasto_mensual_departamento + @factura.saldo_anterior + @factura.intereses%> </label>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="splitter">
        <label>RECIBO AUTORIZADO PARA EL CO-PROPIETARIO</label>
      </td>
    </tr>
    <tr>
      <td class="recibos">
        <label>Fecha: <%= @factura.fecha %></label>
        <label>Importe Abonado: $ <%= @factura.importe_abonado %></label>
        <label>Recibi Conforme: __________ </label>
      </td>
      <td class="right recibos">
        <label> <input type="checkbox"></input> Total </label>
        <label> <input type="checkbox"> A cta exp anteriores </label>
        <label> <input type="checkbox"> A cta exp futuras</label>
      </td>
    </tr>
    <tr>
      <td class="recibos cliente">
        <label>RECIBO PARA ADMINISTRADOR</label>
        <label>Suarez Negocios Inmobiliarios</label>
        <label>Recibo Nro <%= @factura.nro_recibo %></label>
        <label>Co-Propietario: <%= @departamento.propietario%></label>
        <label>Consorcio: <%= @departamento.consorcio.nombre%></label>
        <label>UF: <%= @departamento.identificador%></label>
        <label>Depto </label>
        <label>Periodo Liquidacion <%= @factura.fecha_periodo %></label>
        <label>EXPENSAS ORDINARIAS A PAGAR </label>
        <label> $ <%= @factura.importe_abonado %> </label>
      </td>
      <td class="recibos ventanilla">
        <label>RECIBO PARA VENTANILLA DE PAGO</label>
        <label>Suarez Negocios Inmobiliarios</label>
        <label>Recibo Nro <%= @factura.nro_recibo %></label>
        <label>Co-Propietario: <%= @departamento.propietario%></label>
        <label>Consorcio: <%= @departamento.consorcio.nombre%></label>
        <label>UF: <%= @departamento.identificador%></label>
        <label>Depto </label>
        <label>Periodo Liquidacion <%= @factura.fecha_periodo %></label>
        <label>EXPENSAS ORDINARIAS A PAGAR </label>
        <label>$ <%= @factura.importe_abonado %></label>
      </td>
    </tr>
  </table>
