  <table class="factura">
    <tr>
      <td class="left">
        <label>Suarez Negocios inmobiliarios</label>
        <label>25 de Mayo Nro 179 de 10 a 13 hs</label>
        <label>Tel 249460266</label>
        <label>suareznegociosinmobiliarios@gmail.com</label>
      </td>
      <td class="right">
        <label>Consorcio: <%= @consorcio.nombre %> </label>
        <label>Direccion: <%= @consorcio.direccion %> </label>
        <label>ORIGINAL</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Periodo: <%= @factura.fecha_periodo %> </label>
        <label>Co-propietario: <%= @departamento.propietario%></label>
        <label>Unidad: <%= @departamento.identificador%></label>
      </td>
      <td class="right">
        <label>Lugar de pago: Constitucion 510</label>
        <label>Yrigoyen 830, Quintana 592 </label>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="splitter">
        <label>DETALLE</label>
      </td>
    </tr>
    <tr>
      <td>

        <label>Gastos comunes: <%= "$ #{@departamento.coeficiente} % (#{@gasto_periodo}) " %> </label>
        <label>Saldo Anterior: $ <%= @factura.saldo_anterior %></label>
        <label>Intereses: $ <%= @factura.intereses %></label>
        <label>1er Vencimiento: <%= Date.new(@factura.periodo.year, @factura.periodo.month, 10).to_s%> </label>
        <label>2do Vencimiento: <%= Date.new(@factura.periodo.year, @factura.periodo.month, 20).to_s %> </label>
      </td>
      <% gasto_mensual = @gasto_periodo * @departamento.coeficiente / 100%>
      <td class="right">
        <label id='gasto_mensual'> $ <%= gasto_mensual %> </label>
        <label id='saldo_anterior_subtotal'> $ <%= @factura.saldo_anterior %></label>
        <label id='intereses_subtotal'> $ <%= @factura.intereses %></label>
        <label id='total'> Tota a pagar: $ <%= gasto_mensual + @factura.saldo_anterior + @factura.intereses%> </label>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="splitter">
        <label>RECIBO AUTORIZADO PARA EL CO-PROPIETARIO</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Fecha: <%= @factura.fecha %></label>
        <label>Importe Abonado: $ <%= @factura.importe_abonado %></label>
        <label>Recibi Conforme: __________ </label>
      </td>
      <td class="right">
        <label> <input type="checkbox"></input> Total </label>
        <label> <input type="checkbox"> A cta exp anteriores </label>
        <label> <input type="checkbox"> A cta exp futuras</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>RECIBO PARA ADMINISTRADOR</label>
        <label>Suarez Negocios Inmobiliarios</label>
        <label>Recibo Nro <%= @factura.nro_recibo %></label>
        <label>Co-Propietario: <%= @departamento.propietario%></label>
        <label>Consorcio: <%= @departamento.consorcio.nombre%></label>
        <label>UF: <%= @departamento.identificador%></label>
        <label>Depto </label>
        <label>Periodo Liquidacion <%= @factura.fecha_periodo %></label>
        <label>EXPENSAS ORDINARIAS A PAGAR </label>
        <label> $ </label>
      </td>
      <td>
        <label>RECIBO PARA VENTANILLA DE PAGO</label>
        <label>Suarez Negocios Inmobiliarios</label>
        <label>Recibo Nro <%= @factura.nro_recibo %></label>
        <label>Co-Propietario: <%= @departamento.propietario%></label>
        <label>Consorcio: <%= @departamento.consorcio.nombre%></label>
        <label>UF: <%= @departamento.identificador%></label>
        <label>Depto </label>
        <label>Periodo Liquidacion <%= @factura.fecha_periodo %></label>
        <label>EXPENSAS ORDINARIAS A PAGAR </label>
        <label> $ </label>
      </td>
    </tr>
  </table>
