<%= javascript_include_tag('facturas_show.js') %>

<%= form_with(model: @factura, local: true) do |form| %>
  <h1><%= @departamento.consorcio.nombre %> - Unidad: <%= @departamento.identificador %> - Periodo: <%= @factura.fecha %></h1>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
        <% @factura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to 'Volver', @departamento %>
    <% if @factura.pendiente? %>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <%= link_to 'Pagar', pagar_factura_path(@factura), method: :post %>
    <% end %>
    <% if @factura.imprimir? %>
      <%= link_to 'Imprimir', imprimir_factura_path(@factura), method: :get, target: :blank %>
    <% end %>
  </div>

  <table class="factura">
    <tr>
      <td class="left">
        <label>Suarez Negocios inmobiliarios</label>
        <label>25 de Mayo Nro 179 de 10 a 13 hs</label>
        <label>Tel 2494606266</label>
        <label>suareznegociosinmobiliarios@gmail.com</label>
      </td>
      <td class="right">
        <label><%= @consorcio.nombre %> </label>
        <label>ORIGINAL</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Periodo: <%= "#{@factura.periodo.month} - #{@factura.periodo.year}" %> </label>
        <label>Co-propietario: <%= @departamento.propietario%></label>
        <label>Unidad: <%= @departamento.identificador%></label>
      </td>
      <td class="right">
        <label>Lugar de pago: 25 de Mayo 179 </label>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="splitter">
        <label>DETALLE</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Gastos ordinarios: <%= "$ #{@departamento.coeficiente} % (#{@gasto_ordinario_periodo}) " %> </label>
        <label>Gastos extraordinarios: <%= "$ #{@departamento.coeficiente} % (#{@gasto_extraordinario_periodo}) " %> </label>
        <label>Saldo Anterior: $ <%= form.text_field :saldo_anterior, class: 'form-control', onchange: 'actualizarSaldoAnterior(this);'%></label>
        <label>Intereses: $ <%= form.text_field :intereses, class: 'form-control', onchange: 'actualizarIntereses(this);'%></label>
        <label>1er Vencimiento: <%= Date.new(@factura.periodo.year, @factura.periodo.month, 10).to_s%> </label>
        <label>2do Vencimiento: <%= Date.new(@factura.periodo.year, @factura.periodo.month, 20).to_s %> </label>
      </td>
      <td class="right">
        <label id='gasto_ordinario_periodo_departamento'> $ <%= @gasto_ordinario_periodo_departamento %> </label>
        <label id='gasto_extraordinario_periodo_departamento'> $ <%= @gasto_extraordinario_periodo_departamento %> </label>
        <label id='saldo_anterior_subtotal'> $ <%= @factura.saldo_anterior %></label>
        <label id='intereses_subtotal'> $ <%= @factura.intereses %></label>
        <label id='total'> Tota a pagar: $ <%= @gasto_mensual_departamento + @factura.saldo_anterior + @factura.intereses %> </label>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="splitter">
        <label>RECIBO AUTORIZADO PARA EL CO-PROPIETARIO</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Fecha: <%= form.date_select :fecha, start_year:2020, end_year: Date.today.year, selected: Date.today, class: 'form-control' %></label>
        <label>Importe Abonado: $ <%= form.text_field :importe_abonado, class: 'form-control' %></label>
        Nro Recibo: <%= form.text_field :nro_recibo, class: 'form-control', onchange: 'actualizarNroRecibo(this);'%>
        <label>Recibi Conforme: __________ </label>
      </td>
      <td class="right">
        <label> <input type="checkbox"></input> Total </label>
        <label> <input type="checkbox"> A cta exp anteriores </label>
        <label> <input type="checkbox"> A cta exp futuras</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>RECIBO PARA ADMINISTRADOR</label>
        <label>Suarez Negocios Inmobiliarios</label>
        <label>Recibo Nro <%= @factura.nro_recibo %></label>
        <label>Co-Propietario: <%= @departamento.propietario%></label>
        <label>Consorcio: <%= @departamento.consorcio.nombre%></label>
        <label>UF: <%= @departamento.identificador%></label>
        <label>Depto </label>
        <label>Periodo Liquidacion <%= @factura.fecha%></label>
        <label>EXPENSAS ORDINARIAS A PAGAR </label>
        <label id='total_recibo_cliente'> $ <%= @factura.importe_abonado%> </label>
      </td>
      <td>
        <label>RECIBO PARA VENTANILLA DE PAGO</label>
        <label>Suarez Negocios Inmobiliarios</label>
        <label>Recibo Nro <%= @factura.nro_recibo %></label>
        <label>Co-Propietario: <%= @departamento.propietario%></label>
        <label>Consorcio: <%= @departamento.consorcio.nombre%></label>
        <label>UF: <%= @departamento.identificador%></label>
        <label>Depto </label>
        <label>Periodo Liquidacion <%= @factura.fecha%></label>
        <label>EXPENSAS ORDINARIAS A PAGAR </label>
        <label id='total_recibo_rapipago'> $ <%= @factura.importe_abonado%> </label>
      </td>
    </tr>
  </table>
<% end %>
