<h2>ADMINISTRACION CONSORCIO <%= @consorcio.nombre %></h2>
<label> DIRECCION: <%= @consorcio.direccion %></label>
<label> LIQUIDACION DE PAGO DE EXPENSAS CONSORCIO</label>
<div>
  <h2> PERIODO <%= @factura.fecha %> </h2>
</div>
<label> DEPARTAMENTO: <%= @departamento.identificador %></label>
<label> PROPIETARIO: <%= @departamento.propietario %></label>
<label> IMPORTE: <%= @factura.importe %></label>
