<%= form_with(model: gasto, local: true) do |form| %>
  <nav class="navbar-dark bg-dark consorcios_menu">
    <%= link_to 'Volver', gasto.consorcio, class: "btn btn-secondary" %>
    <button type="submit" class="btn btn-secondary">Guardar</button>
  </nav>

  <div class="consorcios_form">
    <% if gasto.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% gasto.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4><%= @gasto.consorcio.nombre %> - Gasto</h4>

    <div class="form-group">
      <%= form.hidden_field :consorcio_id, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= form.label :tipo %>
      <%= form.select :tipo, ['Ordinario','Extraordinario']%>
    </div>
    <div class="form-group">
      <%= form.label :fecha_gasto %>
      <%= form.date_select :fecha, start_year: Date.today.year, end_year: 1.year.from_now.year, selected: Date.today, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :fecha_cobro %>
      <%= form.date_select :fecha_cobro, start_year: Date.today.year, end_year: 1.year.from_now.year, selected: Date.today, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :descripcion %>
      <%= form.text_field :descripcion, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= form.label :importe %>
      <%= form.text_field :importe, class: 'form-control'%>
    </div>
  </div>

<% end %>
