<p id="notice"><%= notice %></p>

<%= form_tag({controller: "consorcios", action: "contabilidad"}, id:"gastos_form", method: "get") do |form| %>

<h1>Contabilidad - Consorcio <%= @consorcio.nombre %></h1>
<%= link_to 'Volver', @consorcio %>
<%= link_to 'Ver Liquidacion', liquidacion_consorcio_path(@consorcio, mes:@mes, anio:@anio), target: :_blank %>
<% unless @facturas.any? %>
  <%= link_to 'Generar Facturas', generar_facturas_consorcio_path(@consorcio, mes:@mes, anio:@anio), method: :post %>
<% end %>

<div class="form-group">
  <h2><%= label_tag :Periodo %></h2>
  <%= select_tag :mes, options_for_select(1..12, @mes) %>
  <%= select_tag :anio, options_for_select(3.years.ago.year..Date.today.year, @anio) %>
  <button type="submit" class="btn btn-primary">Mostrar</button>
</div>

<h2>Gastos</h2>
<table>
  <thead>
    <tr>
      <td>Fecha Gasto</td>
      <td>Fecha Cobro</td>
      <td>Tipo</td>
      <td>Descripcion</td>
      <td>Importe</td>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.fecha %></td>
        <td><%= gasto.fecha_cobro %></td>
        <td><%= gasto.tipo %></td>
        <td><%= gasto.descripcion %></td>
        <td><%= gasto.importe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Facturas</h2>
<table>
  <thead>
    <tr>
      <td>Departamento</td>
      <td>Periodo</td>
      <td>Importe</td>
      <td>Estado</td>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.departamento.identificador %></td>
        <td><%= factura.periodo %></td>
        <td><%= factura.importe %></td>
        <td><%= factura.estado %></td>
        <td>
          <%= link_to 'Ver', factura, target: :_blank %>
          <% if factura.estado == 'Pendiente' %>
            <%= link_to 'Pagar', factura, method: :put %>
          <% end %>
          <%= link_to 'Eliminar', factura, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
