<p id="notice"><%= notice %></p>

<h1>Consorcios</h1>

<table>
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Direccion</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consorcios.each do |consorcio| %>
      <tr>
        <td><%= consorcio.nombre %></td>
        <td><%= consorcio.direccion %></td>
        <td><%= link_to 'Editar', consorcio %></td>
        <td><%= link_to 'Eliminar', consorcio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Consorcio', new_consorcio_path %>
