<!DOCTYPE html>
<html>
  <head>
    <title>Administrador Consorcios</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark" style="-webkit-print-color-adjust: exact">
      <h2 style="color: white">
        <%= image_pack_tag 'header_suarez.jpg' %>
        Cristian Suarez - Negocios Inmobiliarios
      <h2>
    </nav>
      <%= yield %>
  </body>
</html>
